.invite {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    background: rgba(255, 255, 255, 0.5);
    border: none;
    padding: 10px 20px;
}

.invite p {
    text-indent: 0;
}

.invite p + p {
    margin-top: 10px;
}

.frame {
    text-align: center;
}

img.framed {
    max-width: 60%;
    border: 10px solid #fff;
    border-bottom: 45px solid #fff;
    -webkit-box-shadow: 3px 3px 3px #777;
     -moz-box-shadow: 3px 3px 3px #777;
          box-shadow: 3px 3px 3px #777;
}

@media only screen and (max-width: 640px) {
    img.framed {
        max-width: 100%;
    }
}
